# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
#*.zip
*.tar.gz
*.rar

# Directories
wildfly-11.0.0.Final/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/App/PronosticadorRusia2018/nbproject/private/
/App/PronosticadorRusia2018/PronosticadorRusia2018-war/nbproject/private/
/App/PronosticadorRusia2018/PronosticadorRusia2018-ejb/nbproject/private/
/App/PronosticadorRusia2018/PronosticadorRusia2018-war/build/
/App/PronosticadorRusia2018/PronosticadorRusia2018-war/dist/
/App/PronosticadorRusia2018/PronosticadorRusia2018-ejb/dist/
/App/PronosticadorRusia2018/PronosticadorRusia2018-ejb/build/
/App/PronosticadorRusia2018/build/